@charset "utf-8";

head, body, footer {
    background-color:black;
}

*{
    margin:5px;
    padding: 0%;
}
header {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content: space-around;
    justify-content: flex-start;
    align-items: flex-end;
    
}

h1 {
    font-family:Georgia;
    color: white;
    display: flex;
 }

 h3 {
    display: flex;
    font-family: Georgia;
    color: gray;
 }

section.presentacion  {
    display:flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: flex-end;
    flex-wrap: nowrap;
}

img { 
    display: flex;
    border-radius: 100%;
    align-content: center;
    flex-direction: column;
    content: none;
    flex-wrap: nowrap;
}

article.texto {
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
    contain: content;
    

}

h4 {
    flex-direction: column-reverse;
    display: flex;
    font-family: Georgia;
    color: white;
}

ul.sobrenombres {
    display: flex;
    flex-direction:row;
    color: white;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
    justify-content: center;
    list-style-type: circle;

}

h5 {
    font-family: Verdana;
    color: chocolate;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    align-items: flex-start;
}

li {
    font-family: Verdana;
    color: white;
}

section.estudios {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}